#gallery{
    padding: 40px;
    background: aquamarine;
}
body{
    font-family: 'Lobster', cursive;
    line-height: 1.5;
     /* background-image: url("food1.jpg"); */
}
.gallery-item{
    background: linear-gradient(rgba(241,161,13))rgb(rgb(255,165,0));
}
.gallery-item img{
    display: block;
    width: 100%;
    opacity: 1;
    transition:opacity 2s ease;
}
.gallery-item img:hover{
    opacity: 0.5;
}
@media screen and (min-width: 576px){
    #gallery-center{
        display: grid;
        grid-template-columns: 1fr  1fr;
    }   
}
@media screen and (min-width: 992px){
    #gallery-center{
        grid-template-columns: repeat(4, 1fr);
    }
}